<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Avatar:</strong>

  <% if @user.avatar.attached? %>
    <%= image_tag(url_for(@user.avatar)) %>
  <% else %>
    アバターはありません。
  <% end %>
</p>

<%= link_to 'Back', users_path %>
